{{#link-to 'index.user' defaultUser.login}}
    <img width="40px" height="40px" src={{defaultUser.avatarUrl}} />
{{/link-to}}

<div class="input-group">
    {{input value=targetUser enter=(route-action "changeUser" targetUser)}}
    <span class="input-group-addon">/</span>
    {{#bs-dropdown as | dd | }}
        {{#dd.button}}
            {{if currentRepo currentRepo.name "Choose a repo"}}
        {{/dd.button}}
        {{#dd.menu as | menu |}}
            {{#each currentUser.githubRepositories as | repo | }}
                {{#menu.item}}
                    {{#link-to "index.user.repo" currentUser repo.name}}
                        {{repo.name}}
                    {{/link-to}}
                {{/menu.item}}
            {{/each}}
        {{/dd.menu}}
    {{/bs-dropdown}}
</div>
