<nav>
    {{#link-to 'index'}}
        Me
    {{/link-to}}

    {{#if session.isAuthenticated}}
        <button {{action 'logout'}}>Logout</button>
    {{else}}
        {{#link-to 'login'}}
            Login
        {{/link-to}}
    {{/if}}
</nav>

<hr />

{{outlet}}
